<h1>Welcome to Chirpus Pizza!</h1>

<ng-container *ngFor="let category of getUniqueCategories()">
  <h2>{{ category }}</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getByCategory(category)">
        <td>{{ item.Name }}</td>
        <td>{{ item.Category }}</td>
        <td>${{ item.Price }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<router-outlet></router-outlet>